* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: sans-serif;
}

.color-red {
    color: red;
}

.main-content h2.heading {
    font-style: italic;
    color: red;
}

div {
    color: initial;
    margin-left: 20px;
}

.pai > .filha> .filha{
    color: red;
}