* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

.grid1 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
}

.grid1 div {
    background-color: tomato;
    min-height: 50px;
}

.grid2 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}

.grid2 div {
    background-color: tomato;
    min-height: 50px;
}

.grid1 div:nth-child(5) {
    background-color: brown;
    grid-row: span 2;
    grid-column: span 2;
}

@media (max-width: 720px) {
    .grid1 div:nth-child(5) {
    grid-column: span 1;
} }